body {
  background-color: #E7E6E1;
  color: rgb(20, 20, 20);
  font-family: 'Open Sans', sans-serif;
  margin: 20;
}

h1  {
font-family: 'Montserrat', sans-serif;
font-size: 28px;
color: #000000;
}

h2  {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #b51717;
}

a {
  text-decoration: none;
  color: #f45d5d;
}

a:hover {
  text-decoration: none;
  color: #f45d5d;
}


/* customized styles */

.rounded-circle {
    border-radius: 65%;
    height:25%;
    width:25%;
}

.thumbnail {
    height:25%;
    width:25%;
  }

.card_wrapper {
  max-width: 700px;
  margin: 0;
  padding: 0;
  box-shadow: 0 0px 2px 0 rgba(0,0,0,0.2);
  border-radius: 25px;
  transition: 0.3s;
  text-align: center;
  background-image: url("images/long_beach.jpg");
}

.container {
  width: 700px;   /* This sets the width */
  margin: 0 auto;
  box-shadow: 10%;
  padding: 2px 16px;
}

.card {
  box-shadow: 0 0px 2px 0 rgba(0,0,0,0.2);
  border-radius: 25px;
  transition: 0.3s;
  padding: 20px 20px;
  margin: 5px;
  text-align: center;
  background-color: #f7f7f7;
}

.card_body {
  box-shadow: 0 0px 2px 0 rgba(0,0,0,0.2);
  border-radius: 25px;
  transition: 0.3s;
  text-align: center;
  background-color: #f7f7f7;
}

.title {
  position: absolute;
  top: 10px;
}

.books {
  margin: 20px;
}

.tags {
    font-weight: bold;
    background-color: #b51717;
    border-radius: 3px;
    color: white;
    margin: 10px;
    padding: 3px 12px;
}

.space {
    padding: 20px 20px;
}
